<a href="https://colab.research.google.com/github/SutirthaSamanta31/Python/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1)Celsius to Fahrenheit

In [ ]:
celsius_temp = input("Emter temperature in celsius:")
celsius_temp = float(celsius_temp)
fahrenheit_temp =celsius_temp*1.8+32

print("The Fahrenheit equivalent of celsius_temp = ", fahrenheit_temp)

Emter temperature in celsius:45
The Fahrenheit equivalent of celsius_temp =  113.0

Q2)Swapping two numbers

In [ ]:
n1=input("Enter first number:")
n2=input("Enter second number:")
temp=n1
n1=n2
n2=temp
print("First number=",n1)
print("Second number=",n2)

Enter first number:4
Enter second number:5
First number= 5
Second number= 4

Q3)Leap year or not

In [ ]:
year=int(input("Enter a year:"))
if(year%4==0):
  print("Leap year")
else:
  print("Not a leap year")

Enter a year:2015
Not a leap year

Q4)Reverse of a Number

In [ ]:
n=int(input("Enter a number:"))
rev=0
while(n>0):
  dig=n%10
  rev=rev*10+dig
  n=n//10
print("Reverse of the number:",rev)

Enter a number:25
Reverse of the number: 52

      Q5)WAP to find factors of a given number

In [ ]:
def find_factors(number):
    factors = []

    for i in range(1, number + 1):

        if number % i == 0:
            factors.append(i)  # Add i to the list of factors
    return factors
:
number = int(input("Enter a number: "))
print(f"The factors of {number} are: {find_factors(number)}")

Enter a number: 12
The factors of 12 are: [1, 2, 3, 4, 6, 12]

In [ ]:
  Q6)pRIME NUMBER

In [ ]:
def is_prime(num):
    """ Function to check if a number is prime """
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def prime_series_upto_n(n):
    """ Function to generate prime numbers up to n """
    prime_numbers = []
    for number in range(2, n + 1):
        if is_prime(number):
            prime_numbers.append(number)
    return prime_numbers

n = int(input("Enter a number (n): "))
prime_list = prime_series_upto_n(n)
print(f"Prime numbers up to {n} are: {prime_list}")

Q7)Write a program which makes use of function to display all such numbers which are
divisible by 7 but are not a multiple of 5, between 1000 and 2000.

In [ ]:
def display_numbers():
    """ Function to display numbers between 1000 and 2000 divisible by 7 but not a multiple of 5 """
    numbers = []
    for num in range(1000, 2001):
        if num % 7 == 0 and num % 5 != 0:
            numbers.append(num)
    return numbers


result = display_numbers()
print("Numbers between 1000 and 2000 divisible by 7 but not a multiple of 5:")
print(result)

Numbers between 1000 and 2000 divisible by 7 but not a multiple of 5:
[1001, 1008, 1022, 1029, 1036, 1043, 1057, 1064, 1071, 1078, 1092, 1099, 1106, 1113, 1127, 1134, 1141, 1148, 1162, 1169, 1176, 1183, 1197, 1204, 1211, 1218, 1232, 1239, 1246, 1253, 1267, 1274, 1281, 1288, 1302, 1309, 1316, 1323, 1337, 1344, 1351, 1358, 1372, 1379, 1386, 1393, 1407, 1414, 1421, 1428, 1442, 1449, 1456, 1463, 1477, 1484, 1491, 1498, 1512, 1519, 1526, 1533, 1547, 1554, 1561, 1568, 1582, 1589, 1596, 1603, 1617, 1624, 1631, 1638, 1652, 1659, 1666, 1673, 1687, 1694, 1701, 1708, 1722, 1729, 1736, 1743, 1757, 1764, 1771, 1778, 1792, 1799, 1806, 1813, 1827, 1834, 1841, 1848, 1862, 1869, 1876, 1883, 1897, 1904, 1911, 1918, 1932, 1939, 1946, 1953, 1967, 1974, 1981, 1988]

Q8)WAP to check whether a number is a palindrome or not

In [ ]:
def is_palindrome(number):
    """ Function to check if a number is palindrome """

    num_str = str(number)

    if num_str == num_str[::-1]:
        return True
    else:
        return False


num = int(input("Enter a number: "))
if is_palindrome(num):
    print(f"{num} is a palindrome.")
else:
    print(f"{num} is not a palindrome.")

  Q9) WAP to check whether a)is a perfect number b)is an Armstrong number

In [ ]:
def is_perfect_number(num):
    """ Function to check if a number is a perfect number """
    if num <= 0:
        return False

    sum_of_divisors = 0
    for i in range(1, num):
        if num % i == 0:
            sum_of_divisors += i

    return sum_of_divisors == num

def is_armstrong_number(num):
    """ Function to check if a number is an Armstrong number """
    if num <= 0:
        return False


    num_str = str(num)
    num_digits = len(num_str)
    sum_of_powers = sum(int(digit)**num_digits for digit in num_str)

    return sum_of_powers == num

def check_numbers(num):
    """ Function to check if a number is both perfect and Armstrong """
    is_perfect = is_perfect_number(num)
    is_armstrong = is_armstrong_number(num)

    if is_perfect:
        print(f"{num} is a perfect number.")
    else:
        print(f"{num} is not a perfect number.")

    if is_armstrong:
        print(f"{num} is an Armstrong number.")
    else:
        print(f"{num} is not an Armstrong number.")


number = int(input("Enter a number: "))
check_numbers(number)

Enter a number: 45
45 is not a perfect number.
45 is not an Armstrong number.

Q10)WAP to generate the Fibonacci series upto n.

In [ ]:

def fibonacci_series_upto_n(n):
    """ Function to generate Fibonacci series up to n """
    fibonacci_series = []

    a, b = 0, 1
    while a <= n:
        fibonacci_series.append(a)
        a, b = b, a + b
    return fibonacci_series


n = int(input("Enter a number (n): "))
fibonacci_list = fibonacci_series_upto_n(n)
print(f"Fibonacci series up to {n}:")
print(fibonacci_list)

Q11)Write a program to print your name.

In [ ]:
Person=input('Enter your name ?')

print(Person)

Q12)Write a  program to add two numbers

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

sum = num1 + num2
print("Sum:", sum)

Q13)Write a Java program to change temperature from Celsius to Fahrenheit.

In [ ]:
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Q14). Write a program to change temperature from Fahrenheit to Celsius.

In [ ]:
fahrenheit = float(input("Enter temperature in Fahrenheit: "))

celsius = (fahrenheit - 32) * 5/9
print("Temperature in Celsius:", celsius)

Q15)Write a  program to find area and perimeter of a rectangle.

In [ ]:

width = float(input("Enter width of rectangle: "))
height = float(input("Enter height of rectangle: "))

area = width * height
perimeter = 2 * (width + height)

print("Area of rectangle:", area)
print("Perimeter of rectangle:", perimeter)

Q16) Write a  program to find area and perimeter of a circle.

In [ ]:

import math

radius = float(input("Enter radius of circle: "))

area = math.pi * radius * radius
perimeter = 2 * math.pi * radius

print("Area of circle:", area)
print("Perimeter of circle:", perimeter)

Q17)Write a Program to display whether a number is odd or even.

In [ ]:

number = int(input("Enter a number: "))

if number % 2 == 0:
    print(number, "is even.")
else:
    print(number, "is odd.")

 Q18)Write a Program to check if a number is Positive or Negative.

In [ ]:

number = float(input("Enter a number: "))

if number > 0:
    print(number, "is positive.")
elif number < 0:
    print(number, "is negative.")
else:
    print(number, "is zero.")

Q19)Write a program to find maximum of three numbers.

In [ ]:

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

max_num = max(num1, num2, num3)
print("Maximum number is:", max_num)

Q20)Write a  program to swap two numbers.

In [ ]:

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("Before swapping:")
print("First number =", num1)
print("Second number =", num2)


num1, num2 = num2, num1

print("After swapping:")
print("First number =", num1)
print("Second number =", num2)